.container{
    display: grid;
    grid-template-columns: 300px 150px 300px;
    /* grid-template-columns: repeat (3 ,auto); */
    grid-template-rows: 1fr 2fr 4fr;
    grid-auto-rows: 2.5fr;

    grid-gap: 10px;
}

.box{
    border: 2px solid red;
    background-color: rgba(114, 221, 240, 0.281);
    margin: 5px;
    padding: 20px;
}